@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html, body, button {
	margin:0;
	padding:0;
	background-color: #e17d89;
	color: #f0f4fa;
	font-family: "Dosis";
	font-size: 25px;
}

body {
	display: flex;
	flex-direction: column;
}

p, h1, h2, h3, h4 {
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	flex-direction: column;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.2em;
}

table {
	position: relative;
	table-layout: fixed;
	left: 40px;
	width: 80%;
	text-align: center;
}

th {
	padding-bottom: 25px;
}

td {
	padding-bottom: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	filter: brightness(70%);
}

hr {
	width: 70%;
	border: 2px solid;
	border-radius: 2px;
	margin-left: 0;
}

#banner-burger-menu {
	display: none;
	top: 7px;
	right: 30px;
	position: fixed;
	z-index: 2;

	background-color: #211c33;
	font-size: 1.5em;
	border: none;	
}

#drop-down {
	position: fixed;
	overflow: hidden;
	top: 70px;
	/* strangely, the object having padding will cause it to not fully close. */
	max-height: 0;
	background-color: #211c33;
	/* to enable animated collapsible.
	Ease-out has a slow start and end; its speed curve is like an inverse parabola. */
	transition: max-height 0.2s ease-out; 
	z-index: 3;
}

#resume-banner {
	display: block;
	text-align: center;
}

.drop-down-text {
	display: block;
	color: #f0f4fa;
	font-family: "Dosis";
	font-size: 25px;
	width: 100vh;
	padding: 0px 0px 15px 40px;
}

.header {
	position: fixed;
	margin-top: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	background-color: #211c33;
	z-index: 1;
}

.text-top {
	position: absolute;
	left: 0;
	top: 35%;
	background-color: #e17d89;
	width: 40%;
	overflow: visible;
	align-items: center;
}

#welcome-side-box {
	position: absolute;
	left: 105%;
	top: 0;
	background-color: #e17d89;
	height: 100%;
	width: 7%;
}

.section {
	display: flex;
	position: relative;
	
	overflow: hidden; /* to allow to side box - present as child - to be seen */
	padding-bottom: 40px;
}

.section-top {
	height: 80vh;
	background-image: url("images/Frozen_Memories_small.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.section-1 {
	background-color: #e17d89;
	color: #f0f3fa;
}
.section-2 {
	background-color: #d1e5f0;
	color: #b84a6b;
}

.section-footer {
	background-color: #211c33;
	height: 160px;
}

.header-text {
	padding: 15px;
}

.text-left {
	position: relative;
	top:0;
	left:0;
	padding-top:40px;
}

.text-right {
	position: relative;
	text-align: right;
	justify-content: flex-end;
}

.text-right-bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

.table-title{
	font-size:1.2em;
	font-weight: bold;
}

.table-right {
	margin-left: auto;
	margin-right: 40px;
	right: 40px;
}

.work-images {
	max-height: 120px;
}

.education-images-resume {
	max-width: 100px;
}

.social-media {
	width: 200px;
	top: 30px;
	word-break: break-all;
}

.social-media-images {
	max-height: 28px;
}

.flex-table {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	text-align: center;
	width: auto;
}

.flex-table-column {
	display: flex;
	padding-left: 10vw;
	flex-flow: column-reverse wrap;
	align-content: flex-start;
	right: 0;
}

.flex-table-resume {
	display: flex;
	align-content: flex-start;
	flex-flow: row nowrap;
	text-align: left;
	align-items: center;

	margin-bottom: 20px;
}

.see-resume {
	padding-top: 40px;
	padding-right: 40px;
	justify-content: right;

	font-size: 1.4em;
}

.flex-vertical {
	flex-direction: column;
}

.container {
	display: absolute;
	margin-top: 70px;
}

.resume-header-top {
	margin-top: 40px;
	padding-top: 0px;
}

.awards-container {
	max-width: 80vw;
	display: block;
}

.awards-header {
	padding-top: 0;
	font-size: 1.5em;
	color: #211c33;
	font-weight: 400;
}

.awards-header a:hover {
	filter: brightness(100%); /* Or it will apply the darkening filter I applied to the a element*/
	color: #de5a81;
}

.experience-header {
	padding-top: 0;
	font-size: 1.5em;
	color: #f0f4fa;
	font-weight: 400;
}

.no-margin {
	padding-bottom: 0;
}

.monologue-box {
	margin: auto;
	align-items: center;
	width: 80vw;
	margin-bottom: 40px;
}

.collapsible {
	background-color: #211c33;
	color: #f0f4fa;
	border: none;
	width: 80vw;
	text-align: left;
	position: relative;
}

.collapsible:hover {
	background-color: #8e213e;
}

/* creates pseudo-element in the code for the symbol */
.button-symbol {
	font-size: 0.8em;
	font-weight: bold;
	color: inherit;
	float: right;
	top: 40px;
	right: 40px;
	position: absolute;
}

.monologue-title {
	/* as the ^/v button is positioned absolutely, this prevents overlap. */
	margin-right: 60px;
	margin-bottom: 0;

	font-weight: 300;
}

.monologue-date {
	font-size: 0.8em;
	margin-top: 7px;
	margin-bottom: 30px;
}

.monologue-content {
	overflow: hidden;
	/* strangely, the object having padding will cause it to not fully close. */
	max-height: 0;
	/* to enable animated collapsible.
	Ease-out has a slow start and end; its speed curve is like an inverse parabola. */
	transition: max-height 0.3s ease-out; 
}

.drawing-year {
	width: 100vw;
	text-align: center;
	margin-top: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: grayscale(90%);
}

.drawing-year:hover {
	filter: grayscale(0);
}

.drawing-gallery {
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;

	/*	needed as part of animation*/
	overflow: hidden;
	/* strangely, the object having padding will cause it to not fully close. */
	max-height: 0;
	/* to enable animated collapsible.
	Ease-out has a slow start and end; its speed curve is like an inverse parabola. */
	transition: max-height 0.5s ease-out; 
}

.drawing-box {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 32vw;
	height: 32vw;
	margin: 3px;
	position: relative;
}

.drawing-box a {
	filter: brightness(1.0);
}

/*.drawing-box:hover {
	filter: brightness(0.6);
}*/

.brightness-filter {
	height: 100%;
	width: 100%;
	background-color: #e17d89;
	opacity: 0;
}

.drawing-text {
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	/*still the most reliable method to center an element in a div.
	requires that the parent has position: relative;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #ffffff;
	font-size: 1.4em;
}

.drawing-year-text {
	display: inline-block;
	font-weight: 350;
	background-color: #b84a6b;
	border-radius: 10px;
}

.drawing-max {
	margin: 40px 5vw 50px 5vw;
	text-align: center;
	overflow: hidden;
}

.drawing-max img {
	max-height: 90vh;
	max-width: 100%;
}

.drawing-desc {
	margin: 0 35vw 100px 5vw;
	background-color: #b84a6b;
	padding: 40px 40px 150px 40px;
	font-size: 25px;
}

.drawing-desc span {
	color: #f0f4fa;
	font-family: "Dosis";
	display: block;
}

.dd-title {
	margin-bottom: 25px;
	font-size: 2em;
	font-weight: 600;
}

.dd-date {
	margin-bottom: 20px;
	font-weight: 300;
}

.dd-para {
	font-weight: 350;
}

#drawing-year-2024 {
	background-image: url(images/drawings/compressed/sehr.jpg);
}
#drawing-year-2023 {
	background-image: url(images/drawings/compressed/frozen_memories.jpg);
}
#drawing-year-2022 {
	background-image: url(images/drawings/compressed/dark_impulse.jpg);
}
#drawing-year-2021 {
	background-image: url(images/drawings/compressed/arte.jpg);
}

/*.ratio-1-1 {
	aspect-ratio: 1/1;
}
.ratio-16-9 {
	aspect-ratio: 16/9;
}
.ratio-3-4 {
	aspect-ratio: 3/4;
}
.ratio-4-3 {
	aspect-ratio: 4/3;
}
*/
@media only screen and (max-width: 768px) { /* typical mobile phone break point */
	.header span {
		display: none;
	}
	#banner-burger-menu {
		display: block;
	}
	#banner-burger-menu:hover {
		color: #de5a81;
	}

	.section-top {
		background-image: url("images/auburn.jpg");
	}
	.text-top {
		width: 100%;
	}
	#welcome-side-box {
		display: none;
	}

	.drawing-box {
		width: 100vw;
		height: 100vw;
		margin: 3px 0;
	}
	.drawing-gallery {
		padding: 0;
	}

	.drawing-max {
		margin-left: 0;
		margin-right: 0;
	}
	.drawing-desc {
		margin-left: 40px;
		margin-right: 40px;
	}
}